{% extends "marker_web/layout.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron container-fluid bg-white">
    <div class="row align-items-center">
        <img class="col-sm-3 col-6 p-2 m-auto" src="{% static 'marker_web/page pic 2.png' %}">
            <div class="col-sm-9 col-12 p-4 text-lg">
                <h3>Welcome to <span class="text-purple">Marker<b>AI</b></span></h3>
                <p>For those of us who would like to save time on marking exam answers ourselves, Marker AI offers a suitable solution. It lets students practice past papers from a particular year, providing a space to answer the questions digitally and checking their answers using Natural Language Processing AI.</p>
                <a href="#practice">
                    <button class="btn btn-purple">
                        Try MarkerAI
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="p-4 container-fluid bg-white" id="practice">
    <div class="row align-items-center">
        <div class="col-sm-9 col-12 p-4">
            <h3>Choose paper</h3>
            <p>
                <form action="{% url 'practice' %}" method="get">
                    <div class="d-flex flex-row align-items-center my-2">
                        <h5>Subject: </h5>
                        <select required="true" class="form-select form-select-sm form-control" name="subject" id="subject">
                            <option selected disabled value="">Subject code</option>
                            <option value="biology-0610">Biology (0610)</option>
                            <option value="computer-science-0478">Computer Science (0478)</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row align-items-center my-2">
                        <h5>Year: </h5>
                        <select required class="form-select form-select-sm form-control" name="year" id="year">
                            <option selected disabled value="">Year</option>
                            {% for i in '12345'|make_list %}
                                <option value="{{ forloop.counter | addition:2017 }}">{{ forloop.counter | addition:2017 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex flex-row align-items-center my-2">
                        <h5>Month: </h5>
                        <select required class="form-select form-select-sm form-control" name="month" id="month">
                            <option selected disabled value="">Month</option>
                            <option value="m">Feb/Mar</option>
                            <option value="s">May/June</option>
                            <option value="w">Oct/Nov</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row align-items-center my-2">
                        <h5>Variant: </h5>
                        <select required class="form-select form-select-sm form-control" name="variant" id="variant">
                            <option selected disabled value="">Variant</option>
                        </select>
                    </div><br>
                    <div id="submit-area" class="text-center">
                        <button id="submit" type="submit" class="btn btn-purple">
                            Practice paper
                        </button>
                        <button id="clear" type="button" class="btn btn-light border">
                            Clear selection
                        </button>
                    </div>
                    <div id="loading-area" class="text-center justify-content-center align-items-center">
                        <br>
                        <div id="loading"></div>
                        &nbsp; Loading
                    </div>
                </form>
                <script>
                    let form = document.querySelector('form');
                    let subject = document.getElementById('subject');
                    let year = document.getElementById('year');
                    let month = document.getElementById('month');
                    let variant = document.getElementById('variant');
                    let clear = document.getElementById('clear');
                    let loadingArea = document.getElementById('loading-area');
                    let submitArea = document.getElementById('submit-area');
                    loadingArea.style.display = 'none';
                    // submit.disabled = !cansubmit;

                    clearForm = () => {
                        subject[0].selected = year[0].selected = month[0].selected = variant[0].selected = true;
                        year.disabled = month.disabled = variant.disabled = true;
                    };
                    clear.addEventListener('click', clearForm);
                    document.addEventListener('DOMContentLoaded', clearForm);
                    
                    form.onsubmit = () => {
                        loadingArea.style.display = "flex";
                        submitArea.style.display = "none";
                    }

                    year.disabled = month.disabled = variant.disabled = true;

                    let variantList = ['11','12','13'];
                    subject.addEventListener('change', () => {
                        console.log(subject.value);
                        year.disabled = month.disabled = false;
                        variant.innerHTML = `<option selected disabled value="">Select paper variant</option>`;
                        variantList.forEach((e, index) => {
                            let newOption = document.createElement('option');
                            if (subject.value === '0610') {
                                variantList[index] = e.replace('1', '4');
                            } else {
                                variantList[index] = e.replace('4', '1');
                            }
                            newOption.innerHTML = newOption.value = variantList[index]
                            variant.appendChild(newOption);
                        })
                        console.log(variantList);
                    })
                    month.addEventListener('change', () => {
                        variant.disabled = false;
                        if (month.value === 'm') {
                            console.log(variant.firstChild)
                            variant[2].selected = true;
                            variant.getElementsByTagName('option')[1].hidden = true;
                            variant.lastChild.hidden = true;
                        } else {
                            variant.getElementsByTagName('option')[1].hidden = false;
                            variant.lastChild.hidden = false;
                        }
                    })
                </script>
            </p>
        </div>
        <img class="col-sm-3 col-6 p-2 d-none d-sm-block" src="{% static 'marker_web/quill pic final.png' %}">
    </div>
</div>
{% endblock %}