{% extends "marker_web/layout.html" %}
{% load static %}
{% block title %}Practice{% endblock %}
{% block body %}
<div class="jumbotron container-fluid bg-white">
    <b>What is Marker AI?</b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus libero sed dictum pharetra. Suspendisse ac interdum enim. In hendrerit ex tincidunt massa posuere venenatis. Suspendisse hendrerit lacinia fringilla. Quisque a nisl lacinia, sollicitudin lacus vel, suscipit est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris pellentesque at odio id suscipit.
</div>
<div class="jumbotron container-fluid bg-white" id="practice">
    <b>How it works</b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus libero sed dictum pharetra. 
    Suspendisse ac interdum enim. In hendrerit ex tincidunt massa posuere venenatis. 
    Suspendisse hendrerit lacinia fringilla. Quisque a nisl lacinia, sollicitudin lacus vel, suscipit est. 
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris pellentesque at odio id suscipit.
</div>
{% endblock %}