{% extends "marker_web/layout.html" %} {% load static %} 
{% block title%}Practice{% endblock %} 
{% block body %}
<h1 class="text-purple">{{ filename }}</h1>
<hr />
<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_overlay_text -->
<div class="overlay">
    <div class="overlay-text">
        <div
            id="loading-area"
            class="text-white p-5 text-center justify-content-center align-items-center"
        >
            <br />
            <div id="loading" style="border: 5px dotted #f6f0fe"></div>
            &nbsp; Loading results
        </div>
    </div>
</div>
<form method="post" action="{% url 'results' %}">
    {% csrf_token %} {% for question in questions %}
    <div class="jumbotron container-fluid bg-white">
        <!-- <h5>Question {{ question.0 }}</h5>
                {{ question.1 }}
                <br><hr> -->
        <h2 class="text-purple">Question {{ forloop.counter }}</h2>
        {% for item in question %} {{ item | safe}} {% endfor %}
        <!-- <hr> -->
        <!-- {{ question }} -->
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-purple">Submit answer</button>
</form>

<script src="{% static 'marker_web/practice.js' %}">
</script>
{% endblock %}
